@model HotelMateWebV1.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">

    $(function () {

        $("#Expander").click(function () {
            $(".ACCSUBTABLE").toggle();
        });

    });



</script>

<div class="page-head">
    <h2>Hotel</h2>
    <a style="float:right;" class="btn btn-success hbtn" href="@Url.Action("Index","Home")" id="todaySale">Back To Reservations</a>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Reports</a></li>
        <li class="active">Employee Reports</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Employee Reports</h3>
                    <a style="float:right;" class="btn btn-danger" href="#" id="Expander">Expand +</a>
                    @Html.Partial("_DateSelector", "EmployeeAttendance")
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table no-border hover">
                            <thead class="no-border">
                                <tr>
                                    <th style="width:10%;"><strong>Staff</strong></th>
                                    <th style="width:15%;"><strong>Date</strong></th>
                                    <th style="width:15%;"><strong>Start</strong></th>
                                    <th style="width:15%;"><strong>End</strong></th>
                                    <th style="width:15%;"><strong>Duration</strong></th>
                                    <th style="width:10%;"><strong>Hotel Sales</strong></th>
                                    <th style="width:10%;"><strong>Bar Sales</strong></th>                                    
                                    <th style="width:10%;" align="right"><strong>Total</strong></th>
                                </tr>
                            </thead>
                            <tbody class="no-border-y">

                                @foreach (var item in Model.EmployeeGroupByList.ToList())
                                {
                                    <tr>
                                        <td>@item.Person.DisplayName</td>
                                        <td colspan="7"></td>
                                    </tr>

                                    foreach (var lst in item.ItemList.OrderBy(x => x.Person.PersonID))
                                    {

                                        <tr>
                                            <td></td>
                                            <td>@lst.ShiftDate.ToShortDateString()</td>
                                            <td>@lst.StartTime</td>

                                                @if(lst.EndTime.HasValue)
                                                {
                                                    <td>@lst.EndTime.Value</td>
                                                    <td>@lst.EndTime.Value.Subtract(lst.StartTime).Hours</td>
                                                }
                                                else
                                                {
                                                <td>@decimal.Zero</td>
                                                <td>@decimal.Zero</td>                                                    
                                                }
                                            
                                            <td>@lst.TotalHotelSalesRecievable</td>
                                            <td>@lst.TotalBarSalesRecievable</td>
                                            <td align="right">@lst.TotalSales</td>
                                        </tr>
                                        

                                    }

                                    <tr>
                                        <td colspan="7">Total</td>
                                        <td align="right">@item.ItemList.Sum(x => x.TotalSales)</td>
                                    </tr>

                                }

                                <tr>
                                    <td colspan="7">Sales Total</td>
                                    <td align="right">@Model.EmployeeGroupByList.Sum(x => x.TotalAmount)</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

