@model HotelMateWebV1.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>



<div class="page-head">
    <h2>Hotel</h2>
    <a style="float:right;" class="btn btn-success hbtn" href="@Url.Action("Index","Home")" id="todaySale">Back To Reservations</a>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Reports</a></li>
        <li class="active">Room Occupancy Reports</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Room Occupancy Reports</h3>
                    @Html.Partial("_DateSelector", "RoomOccupancy")
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table no-border hover">
                            <thead class="no-border">
                                <tr>
                                    <th style="width:15%;"><strong>Name</strong></th>
                                    <th style="width:40%;"><strong>Total No. Of Guests</strong></th> 
                                    <th style="width:20%;"><strong>%</strong></th>                                                                       
                                </tr>
                            </thead>
                            <tbody class="no-border-y">
                                @foreach (var rm in Model.Rooms)
                                {                                  
                                        <tr>
                                            <td>@rm.RoomNumber</td>
                                            <td>@rm.GuestRooms.Count</td>
                                            <td>@rm.GuestRooms.PercentageOccupancy()</td>
                                           
                                        </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

