@model HotelMateWebV1.Models.ItemIndexModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-head">
    <h2>Items Inventory</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Inventory</a></li>
        <li class="active">Inventory List</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Hotel Items</h3><span>@Html.ActionLink("Create New", "Create")</span>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table no-border hover">
                            <thead class="no-border">
                                <tr>
                                    <th style="width:15%;"><strong>Name</strong></th>
                                    <th style="width:10%;"><strong>Delivered</strong></th>
                                    <th style="width:10%;"><strong>Used</strong></th>
                                    <th style="width:10%;"><strong>Remaining</strong></th>
                                </tr>
                            </thead>
                            <tbody class="no-border-y">
                                @foreach (var item in Model.ModelledItemList.OrderBy(x => x.Name).ToList())
                                {
                                    <tr>

                                        <td>@item.Name</td>
                                        <td>@item.Delivered</td>
                                        <td>@item.ItemUsage</td>
                                        <td>@item.Remaining</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

