@model HotelMateWebV1.Models.HotelMenuModel
<link href="~/css/CoolTable.css" rel="stylesheet" />

<div class="twelve columns">



    <div>
        <table class="striped fixedlayout">
            <thead>
                <tr>
                    <th width="50%">Go Back</th>
                    <th width="50%">Order</th>
                </tr>
            </thead>
            <tbody id="CasesTableBody1">
                <tr>
                    <td class="tth2"><a class="erbEditorDirty buttonDevFirst" href="@Url.Action("TaxiServices", "Guest")">Go Back</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div>
        <p>A text message has been sent to this driver about your taxi booking. Please expect a call from the driver</p>
        <p>Should you wish to contact the driver, the contact numbers are @Model.CarItem.Telephone , @Model.CarItem.Mobile</p>

        <br />
        <br />


        <p>@Model.CarItem.Description</p>
        <img src="~/Products/@Model.CarItem.PicturePath" alt="@Model.CarItem.Name" />
    </div>
</div>






