@using HotelMateWebV1.Helpers
@model HotelMateWebV1.Models.PersonViewModel

<style>
    .dropdownDiv {
        height: 100px;
        width: 100%;
        overflow: auto;
        padding: 2px;
    }
</style>


@Html.HiddenFor(model => model.PersonID)


<div class="six columns">
    <label for="FullName">First Name*</label>
    @Html.TextBoxFor(model => model.FirstName)
</div>

<div class="six columns">
    <label for="FullName">Last Name*</label>
    @Html.TextBoxFor(model => model.LastName)
</div>

<div class="six columns">
    <label for="email">E-Mail*</label>
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="six columns">
    <label for="email">Password*</label>
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
</div>

<div class="twelve columns">
    <label for="email">Address*</label>
    @Html.TextAreaFor(model => model.Address)

</div>

<div class="six columns">
    <label for="email">Title*</label>
    @Html.TextBoxFor(model => model.Title)
</div>

<div class="six columns">
    <label for="email">MiddleName*</label>
    @Html.TextBoxFor(model => model.MiddleName)    
</div>

<div class="six columns">
    <label for="email">Start Date*</label>
    <input readonly="readonly" type="text" id="arrive" class="datepicker" name="StartDate" value="@Model.StartDate.ToShortDateString()">
</div>

<div class="six columns">
    <label for="email">End Date*</label>
    <input readonly id="depart" class="datepicker" type="text" name="EndDate" value="@Model.EndDate.ToShortDateString()">    
</div>

<div class="twelve columns">
    <label for="email">Referee*</label>
    @Html.TextAreaFor(model => model.Guardian)
    
</div>

<div class="twelve columns">
    <label for="email">Referee Address*</label>
    @Html.TextAreaFor(model => model.GuardianAddress)

</div>

<div class="twelve columns">
    <label for="email">Previous Employer Details*</label>
    @Html.TextAreaFor(model => model.PreviousEmployer)

</div>

<div class="twelve columns">
    <label for="email">Reason For Leaving*</label>
    @Html.TextAreaFor(model => model.ReasonForLeaving)
</div>

<div class="twelve columns">
    <label for="email">Notes*</label>
    @Html.TextAreaFor(model => model.Notes)
</div>


<div class="six columns">
    <label for="comments">Role</label><br />
    @Html.DropDownListFor(model => model.PersonTypeId, Model.PersonTypes, new { @name = "room_select", @id = "b-company" })
</div>

<div class="six columns">
    <label for="comments">Date Of Birth</label><br />
    <input readonly id="depart" class="datepicker" type="text" name="BirthDate" value="@Model.BirthDate.ToShortDateString()"> 
</div>


<div class="six columns">
    <label for="comments">Telephone</label><br />
    @Html.TextBoxFor(model => model.Telephone)
 </div>

<div class="six columns">
    <label for="comments">Mobile</label><br />
    @Html.TextBoxFor(model => model.Mobile)
</div>

<div class="six columns">
    <label for="comments">Job Title</label><br />
    @Html.TextBoxFor(model => model.JobTitle)
</div>

<div class="six columns">
    <label for="comments">City /State / Nationality</label><br />
    @Html.TextBoxFor(model => model.CityState)
</div>


<div class="six columns">
    <label for="comments">Work Address</label><br />
    @Html.TextBoxFor(model => model.WorkAddress)
</div>

<div class="six columns">
    <label for="comments">Place Of Birth</label><br />
    @Html.TextBoxFor(model => model.PlaceOfBirth)
</div>

<div class="six columns">
    <label for="comments">Department</label><br />
    @Html.TextBoxFor(model => model.Department)
</div>

<div class="six columns">
    <label for="comments">IdNumber</label><br />
    @Html.TextBoxFor(model => model.IdNumber)
</div>

<div class="six columns">
    <label for="comments">Bank Details </label><br />
    @Html.TextBoxFor(model => model.BankDetails)
</div>

<div class="six columns">
    <label for="comments">Account Number</label><br />
    @Html.TextBoxFor(model => model.AccountNumber)
</div>
<div class="six columns">
    <label for="comments">Salary</label><br />
    @Html.TextBoxFor(model => model.Salary)
</div>



<div class="six columns">
    <label for="comments">Gender</label><br />
    @Html.TextBoxFor(model => model.Gender)
</div>

<div class="six columns">
    <label for="comments">Marital Status</label><br />
    @Html.TextBoxFor(model => model.MaritalStatus)
</div>

<div class="six columns">
    <label for="comments">No Of Children </label><br />
    @Html.TextBoxFor(model => model.NoOfChildren)
</div>

<div class="six columns">
    <label for="comments">Qualification</label><br />
    @Html.TextBoxFor(model => model.Qualification)
</div>

<div class="six columns">
    <label for="comments">Employee Picture</label><br />
    <div class="col-sm-6">
        <input type="file" name="file" />
    </div>
        @if (Model.PersonID > 0)
        {           
            <div class="col-sm-6">
                <img src="~/Products/@Model.PicturePath" height="120" width="150" />
            </div>           
        }
    </div>




<div class="twelve columns">
    <input id="submit" type="submit" value="Save" name="send_booking">
</div>

@if (Model.PersonID > 0)
{
    <div class="twelve columns">
        <input id="submitEdit" class="btn btn-primary" type="submit" value="Delete" name="send_booking">
    </div>
}
