@model HotelMateWebV1.Models.RoomBookingViewModel
<link href="~/css/CoolTable.css" rel="stylesheet" />


<div class="eight columns">

    <h1 class="page-title ci-title" style="margin-bottom:10px;"><span>Vacant Guest Rooms</span></h1>

    <div>
        <table class="striped fixedlayout">
            <thead>
                <tr>
                    <th width="20%"></th>
                    <th width="20%">Room Number</th>
                    <th width="20%">Room Type</th>
                    <th width="20%">Rate </th>
                    <th width="20%">Business Rate </th>
                </tr>
            </thead>
            <tbody id="CasesTableBody1">
                @foreach (var rm in Model.RoomsList)
                {
                    <tr id="@rm.Id">

                        @if (@rm.RoomStatu.Id == (int)HotelMateWebV1.Helpers.Enums.RoomStatusEnum.Vacant)
                        {
                            <td class="tth2"> <a class="erbEditorOpener buttonDevFirst" href="@Url.Action("ViewVideo", "Booking", new { id = rm.Id,Model.CheckinDate,Model.CheckoutDate })">View Room  @rm.RoomNumber</a></td>
                        }
                        else if (@rm.RoomStatu.Id == (int)HotelMateWebV1.Helpers.Enums.RoomStatusEnum.Dirty)
                        {
                            <td class="tth2"><a class="erbEditorDirty buttonDevFirst" href="@Url.Action("ViewVideo", "Booking", new { id = rm.Id })">View Room</a></td>
                        }
                        else
                        {
                            <td class="tth2"><a class="erbEditorRepair buttonDevFirst" href="@Url.Action("ViewVideo", "Booking", new { id = rm.Id })">View Room</a></td>
                        }

                        <td class="tth2">@rm.RoomNumber</td>
                        <td class="tth2">@rm.RoomType1.Name</td>
                        <td class="tth2">@rm.Price</td>
                        <td class="tth2">@rm.Price</td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>



