@model HotelMateWebV1.Models.SearchViewModel
<link href="~/css/CoolTable.css" rel="stylesheet" />


<div class="eight columns">
    <h1 class="page-title ci-title" style="margin-bottom:10px;"><span>Occupied Guest Rooms</span></h1>


    <div>
        <table class="striped fixedlayout">
            <thead>
                <tr>
                    <th width="25%"></th>
                    <th width="20%">Guest</th>
                    <th width="15%">Mobile Number</th>
                    <th width="20%">Email</th>
                    <th width="20%">Contact Number </th>
                </tr>
            </thead>
            <tbody id="CasesTableBody1">
                @foreach (var rm in Model.GuestsList)
                {
                    <tr id="@rm.Id">
                        <td class="tth2">

                            @if (!rm.PersonId.HasValue)
                            { 
                             <a class="erbEditorOpener buttonDevFirst" href="@Url.Action("GrantInternetAccess", "GuestAccount", new { id = rm.Id })">Activate Guest Profile</a>    
                            }
                            else
                            {
                              <a class="erbEditorOpener buttonDevFirst" href="@Url.Action("DenyInternetAccess", "GuestAccount", new { id = rm.Id })">Deny Guest Profile</a>    
                            }
                                       
                        </td>
                        <td class="tth2">@rm.FullName</td>
                        <td class="tth2">@rm.Mobile</td>
                        <td class="tth2">@rm.Email</td>
                        <td class="tth2">@rm.Telephone</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>







