@model HotelMateWebV1.Models.SearchViewModel
<link href="~/css/CoolTable.css" rel="stylesheet" />


<div class="eight columns">

    <h1 class="page-title ci-title" style="margin-bottom:10px;"><span>Hotel Company</span></h1>

    <div class="twelve columns">
        <a class="erbEditorOpener buttonDevFirst" href="@Url.Action("New", "CompanyAccount")">Create New Company</a>
    </div>
    <br />
    <br />

    <div>
        <table class="striped fixedlayout">
            <thead>
                <tr>
                    <th width="35%"></th>
                    <th width="15%">Name</th>
                    <th width="15%">Address</th>
                    <th width="15%">Telephone</th>
                    <th width="10%">Contact Name </th>
                    <th width="10%">Contact Number </th>
                </tr>
            </thead>
            <tbody id="CasesTableBody1">
                @foreach (var rm in Model.CompanyList)
                {
                    <tr id="@rm.Id">
                        <td class="tth2">
                            <a class="erbEditorOpener buttonDevFirst" href="@Url.Action("Edit", "CompanyAccount", new { id = rm.Id })">Edit</a> |
                            <a class="erbEditorOpener buttonDevFirst" href="@Url.Action("View", "CompanyAccount", new { id = rm.Id })">Accounts</a> |
                            <a class="erbEditorOpener buttonDevFirst" href="@Url.Action("TopUpAccount", "CompanyAccount", new { id = rm.Id })">Make Payments</a>
                        </td>
                        <td class="tth2">@rm.Name</td>
                        <td class="tth2">@rm.Address</td>
                        <td class="tth2">@rm.Telephone</td>
                        <td class="tth2">@rm.ContactName</td>
                        <td class="tth2">@rm.ContactNumber</td>

                    </tr>
                }
            </tbody>
        </table>

    </div>    
</div>









