@model HotelMateWebV1.Models.HotelMenuModel
<link href="~/css/CoolTable.css" rel="stylesheet" />

<div class="twelve columns">



    <div>
        <table class="striped fixedlayout">
            <thead>
                <tr>
                    <th width="50%">Go Back</th>
                </tr>
            </thead>
            <tbody id="CasesTableBody1">
                <tr>
                    <td class="tth2"><a class="erbEditorDirty buttonDevFirst" href="@Url.Action("LocalServices", "Guest")">Go Back</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="four columns">
        <a href="@Url.Action("CompleteViewAdventure","Guest", new { id = Model.Adventure.Id})"> <img src="~/Products/@Model.Adventure.PicturePath" alt="image" height="300" width="300" /> </a>
    </div>
    <div class="eight columns">

        <div class="row">
            <div class="four columns">
                <label for="email">Name</label>
            </div>
            <div class="four columns">
                <label for="email">@Model.Adventure.Name</label>
            </div>
        </div>

        <div class="row">
            <div class="four columns">
                <label for="email">Description</label>
            </div>
            <div class="four columns">
                <label for="email">@Model.Adventure.Description</label>
            </div>
        </div>


        <div class="row">
            <div class="four columns">
                <label for="email">Address</label>
            </div>
            <div class="four columns">
                <label for="email">@Model.Adventure.Address</label>
            </div>
        </div>


        <div class="row">
            <div class="four columns">
                <label for="email">Telephone</label>
            </div>
            <div class="four columns">
                <label for="email">@Model.Adventure.Telephones</label>
            </div>
        </div>


        <div class="row">
            <div class="four columns">
                <label for="email">Opening/Closing Times</label>
            </div>
            <div class="four columns">
                <label for="email">@Model.Adventure.OpeningClosing</label>
            </div>
        </div>

    </div>
</div>
<hr />

<br />
<br />


<div id="map-canvas" style="height:350px; width:100%;">
</div>

<style>
    html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;

    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var lagos = new google.maps.LatLng(6.5833, 3.7500);
        var mapOptions = {
            zoom: 7,
            center: lagos
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        directionsDisplay.setMap(map);
        calcRoute();
    }

    function calcRoute() {
        var startLat = '@Model.Adventure.Latitude';
        var startLon = '@Model.Adventure.Longitude';
        

        
        var start = new google.maps.LatLng(6.462051000000000000, 3.543319900000028600);
        var end = new google.maps.LatLng(startLat, startLon);
        //var manhattan = 
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    
</script>



