@model HotelMateWebV1.Models.CardOwner

  <div class="content_section">

  @if (Model.Owner.UserName == "AGBO FLOOR")
  {    
      <div style="@Model.PlayingNow" class="image_wrapper_01"><div class="imageOverlayFloor"><img src="../../Images/Arrow_Right.png" width="100px;" height="70px;" alt="" />
      <h2><span>@Model.Owner.UserName.Replace("AGBO","")</span></h2></div></div>
  }
  else
  {    
    <div style="@Model.PlayingNow" class="image_wrapper_01"><div class="imageOverlay"><img src="../../Images/@Model.Owner.UserPictureName" width="100px;" height="70px;" alt="" />
    <h2><span>@Model.Owner.UserName</span></h2></div></div>
  } 

  <div style="float:left;width:420px; height:100px;">@Html.Partial("GameCards", Model.CardModelsPlayingStack) </div> 

  @if (Model.Owner.UserName != "AGBO FLOOR")
  {
   if (Model.CanShowFlashMessage)
   {
      <div class="messageBoxDissapearing"><span style="color:Red;">@Model.CanShowFlashMessageMessage</span></div>      
   }
  }

  @if (!string.IsNullOrEmpty(Model.CanClickFinish))
  {
      if (Model.GameIsOver)
      {
          @*<div class="btn btn-primary" style="float:right; cursor:pointer;">  <a class="clickablecardStartAgain"  href="@Model.CanClickFinish"></a></div>*@
          <a title="@Model.CanClickFinishText" class="clickablecardStartAgain" style="float:right; cursor:pointer;" href="@Model.CanClickFinish"><img height="100" src="~/images/continue-link.GIF" /></a>
          @*<a title="@Model.CanClickFinishText" class="clickablecard" style="float:right; cursor:pointer;" href="@Model.CanClickFinish"><img  height="100" src="~/images/continue-link.GIF" /></a>*@
          

          if (!string.IsNullOrEmpty(Model.CanClickContestText))
          {
            <div style=" margin-top:60px; background-color:Red;" class="rc_btn_01 fl">  <a class="clickablecard" href="@Model.CanClickContest">@Model.CanClickContestText</a></div>   
          }
      }
      else
      {
        @*<div class="rc_btn_01 fl">  <a class="clickablecard" href="@Model.CanClickFinish">@Model.CanClickFinishText</a></div>*@
        <a class="clickablecard" style="float:right; cursor:pointer;" href="@Model.CanClickFinish"><img src="~/images/iamdone.png" /></a>
        @*<div class="btn btn-primary" style="cursor:pointer;">  <a class="clickablecard" href="@Model.CanClickFinish">@Model.CanClickFinishText</a></div>*@
      
      }
  }

  @if (Model.CardModelsPlayedStack.Any())
  {
    <div style=" margin-right:5px; float:right; padding:5px; border: 1px Solid Red; width:70px; height:100px;">@Html.Partial("GameCardsNonClickable", Model.CardModelsPlayedStack) </div> 
  }  
              
  <div class="cleaner"></div>
  </div>            
  <div class="margin_bottom_20 horizontal_divider"></div> 
  <div class="margin_bottom_5"></div>


 

